:root{
    --bg-gradient:linear-gradient(90deg,rgba(172, 165, 176, 1) 15%, rgba(255, 252, 252, 1) 100%, rgba(250, 247, 245, 1) 79%);
    --color-card:#272525;
    --color-text:#fff;
    --border-radius: 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;/*area dentro*/
    margin: 0; /*area fuera*/
    box-sizing: border-box; /*ocupe todo el espacio de la pagina*/
    font-family: poppins, sans-serif; /*fuente*/
}

body{
    display: flex; /*lo que se encuentre dentro de body pueda moverse*/
    justify-content: center; /*este justificado centra de arriba abajo*/
    align-items: center; /*alinea de izquierda a derecha*/
    height: 100vh;/* su altura que sea todo el tamalño de la pagina*/
    background: var(--bg-gradient); /* color de fondo*/
}

.card{
    background-color: var(--color-card);/*color de fondo*/
    border-radius: var(--border-radius);/*bordes redondeados*/
    color: var(--color-text);/*color de texto*/
    margin-left: 20px;/*empuja los elementos asia dentro del lado derecho*/
    margin-right: 20px;/*empuja los elementos asia dentro del lado izquierdo*/
    padding: 20px;/*area fuera para separarlo de los laterales*/
    display: flex;/*acemos la card sea mobible*/
    flex-direction: column;/*le indicamos que el flujo sea de tipo columna*/
    transition: all 0.6s ease-in-out;/*aqui decimos que la transition se aplique a todo con 0.6 segundos y que sea de entrada y salida*/
    

    .card_image{ /*trabajamos el area de car_imagen*/
        height: 200px; /*altura*/
        width: 200px;/*ancho*/
        border-radius: 50%;/*redondeo*/
        overflow: hidden;/*ase que la imagen oculte las puntas si el contenedor tiene esquinas redondeadas*/
        margin: auto;/*centra el contenedor horizontalmente y nunca verticalmente ademas se ajusta al contenedor padre*/
        border: 13px solid var(--color-card);/*borde solido*/
        margin-top: -100px;/*empiujamamos el contenedor hacia arriba*/
        transition: all 0.3s ease-in-out;
        animation: float 2s ease-in-out infinite;/*animacion*/

        img{/*trabajamos la imagen*/
            width: 100%;/*ancho*/
            height: 100%;  /*alto*/
            object-fit: cover;/*para que la imagen se adapte a la forma del contenedor aunque este se altere*/
            border:2px solid #fff;/*borde de imagen*/
        }

        @media(min-width: 576px){
            width: 250px;/*ancho*/
            height: 250px;/*alto*/
            border: none;/*borde de imagen*/
            margin-top: -50px;/*empiujamamos el contenedor hacia abajo*/

        }
        
    }

    .card__content{
        margin-top: 20px;/*area afuer*/
        display: flex;/*que se pueda mover*/
        flex-direction: column;/*que el flujo sea de columna*/
        justify-content: start;/*que el conenido se alinee a la izquierda*/
        align-items: start;/*que el conenido se alinee a la izquierda*/
        text-align: start;/*que el texto se alinee a la izquierda*/
        max-width: 550px;/*ancho maximo*/
        min-height: 400;/*alto minimo*/
        margin: auto;/*centrar*/
        padding: 15px;/*area dentro*/
        

        
        h1{
            font-size: 25px;/*tamaño de fuente*/
        }

        h2{
            font-size: 18px;/*tamaño de fuente*/
            margin-top: 10px;/*area afuera*/
            opacity: 0.7;/*opacidad*/
        }

        p{
            font-size: 12px;/*tamaño de fuente*/
            margin-top: 10px;/*area afuera*/
            opacity: 0.7;/*opacidad*/   
            color: #aca6a6;/*color de texto*/
            text-align: justify;/*que el texto sea justificado*/
        }

        .social__icons{
            display: flex;/*que se pueda mover*/
            flex-direction: row;/*que el flujo sea de tipo lineal*/
            margin-top: 15px;/*area afuera*/
            gap: 15px;/*espacio entre contenido*/

            a{
                width: 40px;/*ancho*/
                height: 40px;/*alto*/
                border-radius: 50%;/*esquinas redondeadas*/
                background-color: #757070;/*color de fondo*/
                display: flex;/*que se pueda mover*/
                justify-content: center;/*que el contenido se alinee al centro*/
                align-items: center;/*que el contenido se alinee al centro*/
                transition: all 0.3s ease-in-out;/*animacion*/
                cursor: pointer;/*puntero*/

                &:hover{
                    transform: scale(1.2);/*animacion*/
                }

                iconify-icon{
                    color: rgb(196, 196, 196);/*color de icono*/
                }
            }
        }
    }

    @media (min-width: 992px){
        flex-direction: row;/*se alineen los elemento en fila*/
        height: 350px;/*altura*/
        gap: 30px;/*separacion de contenido*/
        display: flex;/*que sea movible*/
        .card_image{
            display: flex;/*que sea movible*/
            justify-content: center;/*que el contenido se alinee al centro*/
            align-items: center;/*que el contenido se alinee al centro*/
            margin-top: 35px;/*area arriba*/
            margin-left: -170px;/*margen derecha*/

        }

    }
}


/*animacion*/
@keyframes float{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0);
    }

}